*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-family: "Poppins", sans-serif;

}

body{
    background-color: rgb(161, 189, 214);
    padding: 30px;
}

.container{
    padding: 32px;
    
}