nav img{
    width: 50px;
    height: 50px;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
}

ul{
    list-style: none;
    display: flex;
    gap: 24px;
}

ul li a{
    text-decoration: none;
    color: blue;
}

ul li a:hover{
    color: black;
    text-decoration: underline;
}

