
main h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 24px;
    padding: 20px;
}
#first-img{
    width: 100%;
    height: 90vh;
    border-radius: 3px;
    border: 3px solid;
    margin-bottom: 5em;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-top: 1px solid;
}

.info h2{
    text-align: center;
    font-size: 40px;
}

.info img{
    width: 50%;
    border-radius: 10px;
    margin-top: 3em;
    margin-bottom: 3em;
}

.info p{
    font-size: 20px;
}

#last-info{
    border-bottom: 1px solid;
    margin-bottom: 5em;
}

#extra{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5em;
}

#extra #first{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

main h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 1em;
}

#extra #second{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#extra img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

#extra p{
    font-size: 18px;
    width: 40em;
}
    
